@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
	--link-color: red;
}

/* @theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
} */

@media (prefers-color-scheme: dark) {
	:root {
		--background: rgb(25, 25, 25);
		--foreground: #ededed;
		display: flex;
		justify-content: center;
		margin: 5%;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}

input {
	border: 2px solid #584f4f;
	border-radius: 3%;
}

button {
	background-color: #5e6262;
	border-radius: 3%;
	margin-left: 5%;
}

a {
	background-color: #403b3b;
	/* border: 1px solid #0f887d; */
	border-radius: 3%;
	margin-left: 5%;
}

.search {
	margin-top: 10%;
	display: flex;
}

.color-link {
	border: 2px solid var(--link-color);
}

.counter {
	margin-right: 3%;
}

h1 {
	margin-bottom: 5%;
}